@import "../font/iconfont.css";
$primaryColor: #333;
$secondColor:#666;
$thirdColor:#55a8fd;


$primaryBg:#55a8fd;
$secondBg:#f4f4f4;
$border-radius:4px;
$border:1px solid #dfdfdf;
$border2:1px solid $primaryBg;
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
  -webkit-appearance:textfield;
}
input[type="number"]{
  -moz-appearance:textfield;
}
